[hidden] { display: none; }

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

div.awesomplete {
	display: inline-block;
	position: relative;
}

.card div.awesomplete {
	display: block;
	position: relative;
}


div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
	position: absolute;
	font-size: 18px;
	left: 0;
	z-index: 1;
	min-width: 100px;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: 0 12px 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
	text-shadow: none;
}

.card div.awesomplete > ul {
	top: 15px;
	font-size: 10px;
	border: 0.1em solid rgba(0,0,0,.3);
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}
	
	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

	/* Pointer */
	div.awesomplete > ul:before {
		content: "";
		position: absolute;
		top: -.43em;
		left: 1em;
		width: 1px; height: 1px;
		padding: .3em;
		background: white;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	div.awesomplete > ul > li {
		color: hsl(0,0%,50%);
		position: relative;
		padding: .2em .5em;
		cursor: pointer;
	}
	
	div.awesomplete > ul > li:hover {
		background: #effbff; /*#00aeef;*/
		color: rgba(0,0,0,0.8);
	}

	div.awesomplete > ul > li:first-child {
		border-top-left-radius: .2em;
		border-top-right-radius: .2em;
	}

	div.awesomplete > ul > li:last-child {
		border-bottom-left-radius: .2em;
		border-bottom-right-radius: .2em;
	}

	
	div.awesomplete > ul > li[aria-selected="true"] {
		background: #6fbff4;/* 0%, #00aeef*/
		color: rgba(255,255,255,0.8);
	}
	
		div.awesomplete mark {
			background: none;
		}
		
		div.awesomplete li:hover mark {
			background: hsl(200, 40%, 80%);
		}
		
		div.awesomplete li[aria-selected="true"] mark {
			background: hsl(205, 40%, 40%);
			color: inherit;
		}