@font-face {
  font-family: 'proximanova';
  src: url('../data/fonts/proximanova/ProximaNova-Reg-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 400; }

@font-face {
  font-family: 'proximanova';
  src: url('../data/fonts/proximanova/ProximaNova-Light-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 300; }

@font-face {
  font-family: 'proximanova';
  src: url('../data/fonts/proximanova/ProximaNova-Bold-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700; }



body {
  padding: 0px;
  margin: 0px;
  font-family: 'proximanova';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'proximanova';
  font-weight: 300;
  line-height: 1.10;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

:-webkit-full-screen {
    background-color: #222;
    background: linear-gradient(90deg, #0e76bc 0%, #00aeef 100%);
    z-index: 2147483647;
    background-attachment: fixed;
}

body {
  /*background: #222;*/
  background: linear-gradient(90deg, #0e76bc 0%, #00aeef 100%);
  background-attachment: fixed;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}


.invisible {
  display: none;
}



#canvas {
  transform: translate3d(0,0,0) scale(.2);
  transform-origin: top left;
  transition: transform 150ms ease;
  margin: 20px;
  width: 0px;
  height: 0px;
}


.container {
/*  border: 10px #f00 solid;*/
  display:block;
  box-sizing: content-box;
  width: 200px;
}

.section {
  position: absolute;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 1px;
  width: 200px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  border-left: 0px rgba(255,255,255,0.3) solid;
  border-bottom: 1px rgba(255,255,255,0.3) dotted;
/*  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;*/
  text-transform: uppercase;
  transition: top 500ms ease, left 500ms ease;
}

.card {
  visibility: hidden;
  background-color: #fff;
  width: 200px;
  border-radius: 3px;
  display: block;
  position: absolute;
  padding: 10px;
/*  margin-bottom: 10px;
  margin-right: 10px;
*/  
  box-sizing: border-box;
  transition: transform 200ms ease, top 200ms ease, left 200ms ease;

  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.76);
}


.card img {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  pointer-events: none;
  min-height: 20px;
}

.selected {
  box-shadow: 0px 0px 0px 3px #0e76bc, 0px 0px 0px 5px rgba(255,255,255,0.4);
  /*transition: none;
  */z-index: 99;
}

.card.dragged {
  opacity: 0.5;
  transform: translate3d(0,0,0) scale(1.1);
  transition: transform 100ms ease-out, top 0s, left 0s;
  cursor:move;
}


.card:hover {
/*  transform: translate3d(0,0,0) scale(2.1);
*/  
}


.card div {
  margin-bottom: 5px;
}

.card div:nth-last-child(2) {
  margin-bottom: 0px;
}

.card div:last-child {
  margin-top: 5px;
  margin-bottom: 0px;
}

.card div:first-child {
  margin-top: 0px !important;
}

.card.scene {
  border-left: 5px #f66 solid;
}

.card.beat {
  border-left: 5px #aaa solid;
  background-color: #ddd;
}

.beats .beat {
  border-left: 7px #bbb solid;
  background-color: #ddd;

  width: 170px;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.beats .beat .title {
  font-size: 12px;
  line-height: 14px;
}



.card.note {
  border-left: 5px #88f solid;
  background-color: #bbf;
}

.card .image {
  background-color: #999;
  height: 100px;
}

.card .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  box-sizing: border-box;
}

.card.beat .title {
  font-size: 12px;
  line-height: 14px;
}

.card.note .title {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}


[contenteditable="true"] { 
  outline: 0px; 
}

h2 {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .synopsis {
  font-size: 10px;
  text-overflow: ellipsis;
  line-height: 12px;
  max-height: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .setting {
  text-transform: uppercase;
  font-size: 8px;
  float: left;
  font-weight: 400;
  opacity: 0.5;
}

.card .time-of-day {
  text-transform: uppercase;
  font-size: 8px;
  float: right;
  font-weight: 400;
}

.clear {
  clear: both;
  margin-bottom: 0px !important;
  height: 0 !important;
}


.card div:empty {
    display: block;
    height: 1em;
    min-width: 2px;
}


#inspector {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 450px;
  height: auto;
  z-index: 999;
  background-color: rgba(255,255,255,0.9);
  display: block;
  position: fixed;
  padding: 20px;
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.3);
  visibility: visible;
}

#inspector h1 {
  font-weight: 700;
}

#inspector input, textarea {
  display: block;
  width: 100%;
  outline: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 0;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  background: transparent;
  box-sizing: border-box;
  font-size: 20px;
  text-align: bottom;
}

#toolbar {
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  color: #fff;
  position: fixed;
  display: block;
  z-index: 999;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  padding-left: 20px;
  padding-top: 0px;
  box-sizing: border-box;
  visibility: hidden;
}

#toolbar .logo {
  width: 150px;
  box-sizing: border-box;
  float: left;
  -webkit-filter: drop-shadow(0px 2px 0px rgba(0,0,0,.5));

}

#toolbar ul {
  margin: 0px;
  float: left;
  list-style: none;
  margin-right: 10px;
  

}

#toolbar li {
  float: left;
/*  border: 4px none rgba(255,255,255,0.0);
*/
  margin-right: 4px;
  border-right: 0;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
}

#toolbar li:first-child {
  border-radius: 8px 0 0 8px;
}

#toolbar li:last-child {
  border-radius: 0 8px 8px 0;
/*  border-right: 2px solid rgba(255,255,255,0.4);*/
}

#2circle-bob:hover {
    width: 200px;
    transition: height 100ms ease, width 100ms ease;
}



#circle-bob {
  position: fixed;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.5);
  width: 100px;
  height: 100px;
  transform: translate3d(0,0,0) scale(.2);
  transform-origin: middle;
/*  animation-name: throb;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;*/
  pointer-events:none;
}

@keyframes throb {
    0%   {  
      transform: translate3d(0,0,0) scale(1);
      background-color: rgba(255,255,255,0.2);

}
    100% {  
      transform: translate3d(0,0,0) scale(1.2);
      background-color: rgba(255,255,255,0.3);
}
}

#canvas-container {
  overflow: scroll; 
  width: 9000px;
  height: 2000px;
}

#right-padding-hack {
  display: block;
  position: absolute;
  width: 20px;
  height: 10px;
}

.hidden {
  display: none !important;
}

#stats {
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3); 
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: right;
  padding: 10px;
}

#help {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 300px;
  z-index: 999;
  border-radius: 12px;
  bottom: 60px;
  right: 60px;
  color: #ddd;
  padding: 30px;
  box-sizing: border-box;
}

#help .key {
  background-color: #ccc;
  font-size: 22px;
  color: #555;
  border-radius: 5px;
  padding: 8px 20px;
  display: inline-block;
  box-shadow: 0px 5px 0px 0px #888, 0px 5px 0px 3px #222;/*, 0px 5px 0px 6px #888;*/
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#help span {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}