@font-face {
  font-family: 'proximanova';
  src: url('../data/fonts/proximanova/ProximaNova-Reg-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 400; }

@font-face {
  font-family: 'proximanova';
  src: url('../data/fonts/proximanova/ProximaNova-Light-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 300; }

@font-face {
  font-family: 'proximanova';
  src: url('../data/fonts/proximanova/ProximaNova-Bold-webfont.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700; }

@font-face {
  font-family: 'courierprime';
  src: url('../data/fonts/courierprime/courier-prime.ttf') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 200; }

body {
  padding: 0px;
  margin: 0px;
  font-family: 'proximanova';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'proximanova';
  font-weight: 300;
  line-height: 1.10;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

:-webkit-full-screen {
    background-color: #222;
    background: linear-gradient(90deg, #0e76bc 0%, #00aeef 100%);
    z-index: 2147483647;
    background-attachment: fixed;
}

body {
  /*background: #222;*/
  background: linear-gradient(90deg, #0e76bc 0%, #00aeef 100%);
  background-attachment: fixed;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}


.invisible {
  display: none;
}

.center_relative {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}


#canvas {
  transform: translate3d(0,0,0) scale(.2);
  transform-origin: top left;
  transition: transform 150ms ease;
  margin: 20px;
  width: 0px;
  height: 0px;
 /* -webkit-perspective: 1000;*/
}


.container {
/*  border: 10px #f00 solid;*/
  display:block;
  box-sizing: content-box;
  width: 200px;
  z-index: 500;
}

.section {
  position: absolute;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 1px;
  width: 200px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  border-left: 0px rgba(255,255,255,0.3) solid;
  border-bottom: 1px rgba(255,255,255,0.3) dotted;
/*  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;*/
  text-transform: uppercase;
  transition: top 500ms ease, left 500ms ease;
}

.card {
  visibility: hidden;
  background-color: #fff;
  width: 200px;
  border-radius: 3px;
  display: block;
  position: absolute;
  padding: 10px;
/*  margin-bottom: 10px;
  margin-right: 10px;
*/  
  box-sizing: border-box;
  transition: transform 200ms ease, top 200ms ease, left 200ms ease, opacity 200ms ease;

  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.36);
  /*z-index: 500;*/
}


.card img {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  pointer-events: none;
  min-height: 20px;
}

.selected {
  box-shadow: 0px 0px 0px 3px #0e76bc, 0px 0px 0px 5px rgba(255,255,255,0.4);
  /*transition: none;
  */z-index: 99;
}

.card.dragged {
  opacity: 0.5;
  transform: translate3d(0,0,0) scale(1.1);
  transition: transform 100ms ease-out, top 0s, left 0s;
  cursor:move;
}

.card .go-left {
  position: relative;
  float: left;
  margin: 0;
}

.card .go-right {
  position: relative;
  float: right;
  margin: 0;
}

.card div {
  margin-bottom: 5px;
}

.card div:nth-last-child(2) {
  margin-bottom: 0px;
}

.card div:last-child {
  margin-top: 5px;
  margin-bottom: 0px;
}

.card div:first-child {
  margin-top: 0px !important;
}

.card.scene {
  border-left: 5px #f66 solid;
}

.card.beat {
  border-left: 5px #aaa solid;
  background-color: #ddd;
}

.beats .beat {
  border-left: 7px #bbb solid;
  background-color: #ddd;

  width: 170px;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.beats .beat .title {
  font-size: 12px;
  line-height: 14px;
}



.card.note {
  border-left: 5px #88f solid;
  background-color: #bbf;
}

.card .image {
  background-color: #999;
  height: 100px;
}

.card .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  box-sizing: border-box;
}

.card.beat .title {
  font-size: 12px;
  line-height: 14px;
}

.card.note .title {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}


[contenteditable="true"] { 
  outline: 0px; 
}

h2 {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.dim {
  opacity: 0.2;
  transition: transform 200ms ease, top 200ms ease, left 200ms ease, opacity 200ms ease;
}

.card .label-container {
  position: absolute;
  bottom: 17px;
  right: 3px;
  text-align: right;
  height: 0px;
}

.card .label-container div {
  text-transform: capitalize;
  color: rgba(0,0,0,0.6);
  padding: 1px 3px 0px 3px;
  display: inline-block;
  font-size: 6px;
  min-height: 10px;
  border-radius: 2px;
  margin-left: 2px;
}



.card .synopsis {
  font-size: 10px;
  text-overflow: ellipsis;
  line-height: 12px;
  max-height: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .setting {
  text-transform: uppercase;
  font-size: 8px;
  float: left;
  font-weight: 400;
  opacity: 0.5;
}

.card .time-of-day {
  text-transform: uppercase;
  font-size: 8px;
  float: right;
  font-weight: 400;
}

.clear {
  clear: both;
  margin-bottom: 0px !important;
  height: 0 !important;
}


.card div:empty {
    display: block;
    height: auto;
    min-width: 2px;

}


#inspector {
  font-family: 'proximanova';
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 450px;
  height: auto;
  z-index: 9999;
  background-color: rgba(255,255,255,0.9);
  display: block;
  position: fixed;
  padding: 0 20px;
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.3);
  visibility: visible;
}

#inspector .close-button {
  display: inline-block;
  position: absolute;
  color: #aaa;
  width: auto;
  padding: 5px 5px;
  border: 0px solid #aaa;
  margin: 20px 0;
  right: 20px;
  top: 0px;
  opacity: 0.3;
}

#inspector .close-button:hover {
  opacity: 0.5;
}

#inspector ul.tabs {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 20px 0 20px 0;
  width: 100%;
  /*border-bottom: 1px solid #aaa;*/
}

#inspector .tabs li {
  color: #aaa;
  float: left;
  width: auto;
  padding: 10px 30px;
  border: 1px solid #aaa;
  border-right: 0;
  cursor: default;

}

#inspector .tabs li:first-child {
  border-radius: 5px 0 0 5px;
}

#inspector .tabs li:last-child {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #aaa;
}

#inspector .tabs li.select {
  color: #fff;
  background-color: rgba(0,0,0,0.2);
}

#inspector .tabs li.select:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.2);
}

#inspector .tabs li:hover {
  background-color: rgba(0,0,0,0.03);
}


#inspector h1 {
  font-weight: 700;
}

#inspector input, textarea {
  font-family: 'proximanova';
  font-weight: 100;
  display: block;
  width: 450px;
  outline: 0;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 0;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  background: transparent;
  box-sizing: border-box;
  font-size: 20px;
  text-align: bottom;
  color: #333;
}

#inspector ::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}


#inspector #title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

#inspector #text {
  font-family: 'courierprime';
  font-size: 12px;
  font-weight: 100;
  color: #333;
}

#setting, #timeOfDay {
  text-transform: uppercase;
}

#inspector select {
  font-family: 'proximanova';
  font-size: 16px;
  font-weight: 300;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.3);
  background: transparent;
  width: 150px;
  padding: -30px;
  margin-bottom: 20px;
  height: 40px;
  appearance: none;
/*  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
*/}

#inspector .filter-item {
  font-size: 14px;
  position: relative;
  padding: 8px 10px;
  display: block;
  float: left;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-right: 8px;
  margin-bottom: 8px;
  text-transform: capitalize;
  opacity: 0.4;
  cursor: default;
}

#inspector .filter-item:hover {
  opacity: 0.8;
}

#inspector .filter-item.selected {
  opacity: 1;
  box-shadow: 0px 0px 0px 3px #a0d3f0;
}

#inspector .filter-item.not-selected {
  opacity: 0.4;
}


#inspector .item-count {
  color: rgba(0,0,0,0.6);
  position: relative;
  display: inline;
  top: 0px;
  font-size: 10px;
  padding: 3px;
  margin-left: 5px;
  border-radius: 3px;
}  

#inspector .content-section {
  display: block;
  margin-bottom: 20px;
  clear: both;
}

#inspector .content-section h3 {
  margin-bottom: 10px;
}


#toolbarbg {
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 100%);
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 250px;
  opacity: 0.3;
  transition: opacity 500ms ease;
  pointer-events: none;
}

#toolbar {
  color: #fff;
  position: absolute;
  display: block;
  z-index: 999;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#toolbar .logo {
  width: 150px;
  -webkit-filter: drop-shadow(0px 2px 0px rgba(0,0,0,.5));
  padding-left: 20px;
  bottom: 20px;
  position: absolute;
  opacity: 0.3;
  transition: opacity 2000ms ease;

}

#toolbar.active .logo {
  opacity: 1;
  transition: opacity 300ms ease;
}

#toolbar .block {
  display: block;
  position: absolute;
  transition: left 400ms ease;
}


#toolbar ul {
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  list-style: none;
  margin-right: 10px;
  margin-top: 17px;
  visibility: visible;
  opacity: 0;
  transition: opacity 2000ms ease;
}

#toolbar.active ul {
  opacity: 1;
  transition: opacity 200ms ease;
}

#toolbar li {
  float: left;
/*  border: 4px none rgba(255,255,255,0.0);
*/
  font-size: 15px;
  margin-right: 4px;
  border-right: 0;
  padding: 10px 5px;
  opacity: 0.6;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5); 

}

#toolbar li:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.0);
  cursor: default;
}

#toolbar li:first-child {
  border-radius: 8px 0 0 8px;
}

#toolbar li:last-child {
  border-radius: 0 8px 8px 0;
/*  border-right: 2px solid rgba(255,255,255,0.4);*/
}

#circle-bob {
  position: fixed;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.5);
  width: 100px;
  height: 100px;
  transform: translate3d(0,0,0) scale(.2);
  transform-origin: middle;
/*  animation-name: throb;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;*/
  pointer-events:none;
}

@keyframes throb {
    0%   {  
      transform: translate3d(0,0,0) scale(1);
      background-color: rgba(255,255,255,0.2);

}
    100% {  
      transform: translate3d(0,0,0) scale(1.2);
      background-color: rgba(255,255,255,0.3);
}
}

#canvas-container {
  overflow: scroll; 
  width: 9000px;
  height: 2000px;
}

#canvas-container::-webkit-scrollbar {
 display: none;
}

#right-padding-hack {
  display: block;
  position: absolute;
  width: 20px;
  height: 10px;
}

.hidden {
  display: none !important;
}

#stats {
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3); 
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: right;
  padding: 20px;
  z-index: 99999;
}

#stats.black {
  color: rgba(0,0,0,0.4);
  text-shadow: none; 
}

#help {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 300px;
  z-index: 999;
  border-radius: 12px;
  bottom: 60px;
  right: 60px;
  color: #ddd;
  padding: 30px;
  box-sizing: border-box;
}

#help .key {
  background-color: #ccc;
  font-size: 22px;
  color: #555;
  border-radius: 5px;
  padding: 8px 20px;
  display: inline-block;
  box-shadow: 0px 5px 0px 0px #888, 0px 5px 0px 3px #222;/*, 0px 5px 0px 6px #888;*/
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#help span {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

#auth_window {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 400px;
  height: 400px;
  z-index: 999;
  border-radius: 12px;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  color: #ddd;
  padding: 30px;
  box-sizing: border-box;
}

#auth_window .logo {
  width: 230px;
  display: block;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0px 2px 0px rgba(0,0,0,.5));
}

#auth_button {
  font-family: 'proximanova';
  font-size: 20px;
  font-weight: 100;
  padding: 15px 20px;
  border-radius: 6px;
  border: 0;
  display: block;
  color: #fff;
  background-color: #00aeef;
  bottom: 30px;
  right: 30px;
  position: absolute;
  box-shadow: 0px 0px 0px 4px #022a3d, 0px 0px 0px 7px rgba(255,255,255,0.4);
  outline: 0;
}

#auth_button:hover {
  background-color: #2fb9f2;
}

#chatwindow {
  box-sizing: border-box;
  font-size: 15px;
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  display: block;
  position: absolute;
  width: 350px;
  height: 450px;
  z-index: 9999;
  border-radius: 8px;
  right: 30px;
  top: 30px;
  overflow: hidden;
  transition: width 500ms ease, height 300ms ease, background-color 500ms ease, top 300ms ease, left 300ms ease, transform 100ms ease, opacity 100ms ease;
}

#chatwindow.minimized {
  overflow: hidden;
  height: 40px;
  width: 300px;
  opacity: 0.4;
  bottom: 12px;
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  transition: width 500ms ease, height 300ms ease, background-color 500ms ease, top 500ms ease, left 500ms ease, opacity 100ms ease;
}

#chatwindow.dragged {
  transform: translate3d(0,0,0) scale(1.05);
  transition: transform 100ms ease;
}


#chatoutput::-webkit-scrollbar {
 display: none;
}
 

#chatoutput {
  color: rgb(255,255,255);
  height: 375px;
  overflow-x: hidden;
  overflow-y: scroll;

/*  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;*/
}

#chatwindow.minimized #chatoutput{
  height: 19px;
}


#chatoutput .screenname {
  color: #777;
  margin-right: 10px;
  display: block;
}

#chatoutput .text {
  color: #ccc;
  display: block;
}

#chatwindow .minimizebutton {
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,0.0);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  padding-left: 5px;
  box-sizing: border-box;
  right: 10px;
  top: 10px;
}

#chatwindow .minimizebutton:hover {
  background-color: rgba(255,255,255,0.08);
}

#chatwindow.minimized .minimizebutton{
  visibility: hidden;
}

#chatwindow .minimizebutton span {
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  width: 20px;
  height: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  bottom: 5px;
  left: 5px;
}


#chatinput {
  font-family: 'proximanova';
  color: rgb(255,255,255);
  font-size: 15px;
  display: block;
  position: absolute;
  bottom: 20px;
  font-weight: 100;
  width: 310px;
  outline: 0;
  padding-top: 10px;
  border: 0;
  border-top: 1px dotted rgba(255,255,255,0.2);
  background: transparent;
  box-sizing: border-box;
  color: #eee;
}

#chatwindow.minimized #chatinput {
  visibility: hidden;
}

#context-menu {
  background-color: #eee;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  margin-top: 10px;
  margin-left: 10px;
  /*border: 1px solid rgba(0,0,0,0.3);*/
  box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.1), 0px 2px 3px 0px rgba(0,0,0,0.3);
  cursor: default;
  transform: translate3d(0,0,0) scale(1);
  transform-origin: top left;
  opacity: 1;  
  transition: transform 100ms ease, opacity 100ms ease;

}

#context-menu.hidden {
  transform: translate3d(0,0,0) scale(.9);
  transform-origin: top left;
  transition: transform 100ms ease, opacity 100ms ease;
  opacity: 0;
  display: block !important;
}


#context-menu div {
  color: #555;
  font-size: 15px;
  padding: 6px 15px;
}

#context-menu div:hover {
  background-color: rgba(0,0,0,0.1);
}

#context-menu hr {
  border: 0;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
}


.filter-content .content-section h3 {
  font-size: 20px;
}

.filter-content .content-section span {
  color: rgba(0,0,0,0.7);
}




